*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}


/**  Start Header **/


/** Add the opacity to the image only: https://css-tricks.com/snippets/css/transparent-background-images/**/

#header {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 60px 16px;
}

#header::after {
    content: "";
    background-image: url('/assets/Images/header.svg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 20%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}


/** Start Intro**/

#Intro h1 {
    font-size: 60px;
    margin-bottom: 10px;
    color: #262534;
    /* text-shadow: 2px 2px #6c63ff; */
}

#Intro h3 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #262534;
}

#Intro .name {
    color: #6c63ff;
    text-shadow: 1px 1px #262534;
}

#Intro #view-more {
    background-color: #E87E04;
    color: white;
    font-size: 18px;
    padding: 15px 42px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    opacity: 1;
    border: 2px solid white;
    text-decoration: none;
}

#Intro #view-more:hover {
    background-color: #F9690E;
}

#Intro #view-more i {
    margin-left: 12px;
    font-size: 16px;
}


/* Start Nav  */

header nav {
    width: 100%;
    height: 8vh;
    background-color: #262534;
    display: grid;
    align-items: center;
    border-bottom: 4px solid #F9690E;
}

header nav ul {
    list-style-type: none;
    background-color: #262534;
}

header li.nav-item {
    display: inline-block;
    margin: 0 8px;
    position: relative;
}

header li.nav-item:first-of-type {
    margin-left: 24px;
}

header li.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header li.nav-item a:hover {
    text-decoration: underline;
}

header #more-drop-down-menu a:last-of-type:hover {
    text-decoration: none;
}

header .nav-item a.active {
    text-decoration: underline;
    color: #F9690E;
}


/** Start More Drop Down**/

header nav #more-drop-down-menu i {
    margin-left: 8px;
    vertical-align: bottom;
}

header li.nav-item ul {
    display: none;
}

header li.nav-item:hover ul {
    display: block;
    width: 150px;
    border-top: 2px solid #6c63ff;
    background-color: #262534;
    box-shadow: 0 2px 5px #3f3d56;
    padding: 20px;
    position: absolute;
    left: 8px;
}

header li.nav-item:hover ul li {
    display: block;
    list-style: none;
    margin-bottom: 12px;
    border-bottom: 1px solid #3f3d56;
}

header li.nav-item:hover ul li a {
    text-decoration: none;
    color: white;
}

header li.nav-item:hover ul li a:hover {
    border-bottom: 1px solid #6c63ff;
}

header nav #dropdown-more li a {
    text-decoration: none;
    color: white;
}

header nav #dropdown-more li a:hover {
    border-bottom: 1px solid #6c63ff;
}

#dropdown-wrapper-more:hover #dropdown-more {
    display: block;
}


/** End More Drop Down**/


/** Stick the nav in the top after scrolling**/


/* The sticky class is added to the header with JS when it reaches its scroll position */

header nav.sticky {
    /** Let us add some animation hh**/
    animation: slide-down 0.7s;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 0.9;
        transform: translateY(0);
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */

menu {
    padding-top: 80px;
}


/*** Set the active bar ****/


/* End Nav */


/**  END Header **/


/************************** Start Menu **********************/


/** Start Section header: common**/

.section-header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.section-header h3 {
    font-size: 46px;
    color: #262534;
    margin-bottom: 12px;
}

.section-header hr {
    border: 2px solid #6c63ff;
    width: 300px;
}


/*** End Section header ***/


/********* Start About ********/

#about {
    width: 100%;
    height: 90vh;
    padding: 0 5%;
    display: grid;
    grid-template-areas: 'header header' 'shrotIntro skills';
    grid-template-columns: 45% 55%;
    column-gap: 24px;
}

#shortIntro {
    text-align: center;
    grid-area: shrotIntro;
}

#skills {
    grid-area: skills;
    padding: 0 24px;
}


/*** Start short Intro ***/

#shortIntroImg img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 2px 0px 2px gray;
    margin-bottom: 25px;
}

#shortIntroText h4 {
    font-size: 32px;
    color: #2d3436;
    margin-bottom: 8px;
}

#shortIntroText p {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    color: #2d3436;
}


/*** End short Intro ***/


/** Start Skills Bars **/

.progress-wrapper {
    height: 30px;
    width: 100%;
    display: flex;
    background-color: #fefefe;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 24px;
}

.skillName,
.progress-bar,
.SkillPercent {
    height: 30px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.skillName {
    padding-left: 8px;
    color: #2d3436;
    width: 120px;
}

.progress-bar {
    width: 100%;
}

.progress-bar p {
    padding-top: 5px;
    float: right;
    padding-right: 5px;
}

.SkillPercent {
    color: #2d3436;
}

.progress {
    background: #6c63ff;
    height: 30px;
    width: 0;
    /* transition: width 0.5s ease-in; */
}


/** End Skills Bars **/


/********* End About ********/


/********* Start  Project ********/

#projects {
    width: 100%;
    height: 100vh;
    background-color: #F4F4F4;
}


/** Start Tabs **/

.tab-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
}

#projects input,
.tab-content {
    clear: both;
    padding-top: 10px;
    display: none;
}

#projects label {
    font-weight: 700;
    font-size: 18px;
    display: block;
    float: left;
    width: 20%;
    padding: 0.5em 1.5em;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background-color: #F4F4F4;
    /* background: #f0f0f0; */
}

#tab1:checked~#all,
#tab2:checked~#templates {
    display: block;
    padding: 20px;
    background: #fff;
    color: #999;
    border-bottom: 2px solid #f0f0f0;
}

.tab-container [id^="tab"]:checked+label {
    background: #fff;
    box-shadow: inset 0 -3px #F9690E;
    /* box-shadow: inset 0 -3px #0CE; */
}


/** End Tabs **/


/** Start All content **/

#project-card-wrapper {
    width: 100%;
    display: grid;
}

#project-card-img1 {
    width: 150px;
    height: 150px;
    background-image: url('/assets/Images/alaskanPortfilio.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/** End All content **/


/**
Alll links 
https://dinataklit.github.io/Responsive-Beautiful-Alaskan-Photo-Portfolio/

https://dinataklit.github.io/Simple-Template-Using-GridLayout/

https://dinataklit.github.io/Responsive-Grid-Using-Flex-Layout/

https://dinataklit.github.io/Simple-HTML-Trip-Template/index.html

dinataklit.github.io/Vegan-Store-Simple-Website-Template/

https://dinataklit.github.io/WebSiteWithPureHTML_CSS/
**/


/********* End  Project ********/


/************************** End Menu **********************/


/**
1. DARK 262534
2. Nrml 3f3d56
3. Accent 6c63ff
4. Gray One d6d4ff
5. Gray 2 f1f0ff
6. Dark gray #2d3436;
7. Orange F9690E
**/


/************** Start Responsive part ****************/


/** Style icon nav for responsive **/

li.icon-nav {
    color: white;
    float: right;
    margin-right: 12px;
    display: none;
    padding-bottom: 12px;
}

@media(max-width: 700px) {
    /************** Start About page *********************/
    #about {
        width: 100%;
        height: 90vh;
        padding: 0 5%;
        display: grid;
        grid-template-areas: 'header header header' 'shrotIntro shrotIntro shrotIntro' 'skills skills skills';
    }
    #shortIntro {
        margin-bottom: 24px;
        display: flex;
        text-align: center;
        /* justify-content: center; */
    }
    #shortIntroImg img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-right: 12px;
    }
    #shortIntroText {
        padding-right: 24px;
    }
    #shortIntroText h4 {
        font-size: 20px;
        color: #2d3436;
    }
    #skills {
        width: 90%;
    }
    /************** End About page *********************/
}


/* Extra small devices (phones, 600px and down) */

@media(max-width: 500px) {
    /************** Start Home page *********************/
    #Intro h1 {
        margin-bottom: 18px;
    }
    #Intro h3 {
        margin-bottom: 70px;
    }
    #Intro .name {
        text-shadow: none;
    }
    header nav li.nav-item {
        display: none;
    }
    header nav .icon-nav {
        display: inline-block;
        margin-top: 8px;
    }
    #toggleButton:checked~li.nav-item {
        display: inline;
    }
    #toggleButton:checked~li.nav-item>a {
        display: block;
        padding-left: 14px;
        font-size: 18px;
    }
    /************** End Home page **********************/
}


/************** End Responsive part ****************/